[submodule "shellStuff/zsh-history-substring-search"]
	path = shellStuff/zsh-history-substring-search
	url = https://github.com/zabador/zsh-history-substring-search.git

[submodule "shellStuff/PySpotifyInfo"]
	path = shellStuff/PySpotifyInfo
	url = https://github.com/zabador/PySpotifyInfo.git

[submodule "shellStuff/zsh-git-prompt"]
	path = shellStuff/zsh-git-prompt
	url = https://github.com/zabador/zsh-git-prompt.git

[submodule "shellStuff/zsh-syntax-highlighting"]
	path = shellStuff/zsh-syntax-highlighting
	url = https://github.com/zabador/zsh-syntax-highlighting.git
