snippet linear
	<LinearLayout
		${1}>
		${2}
	</LinearLayout>
snippet text
	<TextView
		${1}>
	</TextView>
	${2}
snippet image
	<ImageView
		${1}>
	</ImageView>
	${2}
snippet button
	<Button
		${1}>
	</Button>
	${2}
snippet relative
	<RelativeLayout
		${1}>
		${2}
	</RelativeLayout>
snippet string
	<string name="${1}">${2}</string>
	${3}
